<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

<div class="sidebar">

    <h2>Royal Fitness</h2>

    <a href="{{ url_for('dashboard') }}"><i class='bx bxs-dashboard'></i> Dashboard</a>

    <a href="{{ url_for('members') }}">
        <i class='bx bxs-user'></i> Members
    </a>

    <a href="{{ url_for('add_member') }}"><i class='bx bx-plus'></i> Add Member</a>

    <a href="#"><i class='bx bx-money'></i> Payments</a>

    <a href="#"><i class='bx bx-time'></i> Due Members</a>

    <a href="#"><i class='bx bx-log-out'></i> Logout</a>

</div>

<div class="main">

    <h1>Add New Member</h1>

    <div class="form-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}

            {% for message in messages %}

                <div class="success-message">

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %}
    {% endwith %}

        <form action="#" method="POST">

            <div class="form-group">
                <label>Full Name</label>
                <input type="text" name="name" required>
            </div>

            <div class="form-group">
                <label>Mobile Number</label>
                <input type="text" name="phone" required>
            </div>

            <div class="form-group">
                <label>Age</label>
                <input type="number" name="age" required>
            </div>

            <div class="form-group">
                <label>Gender</label>

                <select name="gender">

                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>

                </select>

            </div>

            <div class="form-group">
                <label>Address</label>
                <textarea name="address"></textarea>
            </div>

            <div class="form-group">
                <label>Joining Date</label>
                <input type="date" name="joining_date">
            </div>

            <div class="form-group">
                <label>Fee Paid Till</label>
                <input type="date" name="last_fee_paid" class="form-control">
            </div>

            <div class="form-group">
                <label>Membership Plan</label>

                <select name="plan">

                    <option>Basic</option>
                    <option>Pro</option>
                    <option>Premium</option>

                </select>

            </div>

            <div class="form-group">
                <label>Trainer Name</label>
                <input type="text" name="trainer">
            </div>

            <div class="form-group">
                <label>Monthly Fee</label>
                <input type="number" name="fee">
            </div>

            <button class="save-btn">

                Save Member

            </button>

        </form>

    </div>

</div>

</body>
</html>