<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>

<link rel="stylesheet"
href="{{ url_for('static', filename='change_password.css') }}">

<div class="container">

    <h2>🔒 Change Password</h2>

    <p>Keep your account secure</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST">

        <div class="input-group">
            <label>Current Password</label>
            <input type="password"
                   name="current_password"
                   required>
        </div>

        <div class="input-group">
            <label>New Password</label>
            <input type="password"
                   name="new_password"
                   required>
        </div>

        <div class="input-group">
            <label>Confirm Password</label>
            <input type="password"
                   name="confirm_password"
                   required>
        </div>

        <button type="submit">
            Change Password
        </button>

    </form>

</div>
</body>
</html>